*{
  box-sizing: border-box;
}

body {
  background-color: #dbdfee;
}
.container {
  width: 600px;
  background-color: #fff;
  border: 1px solid black;
  margin: auto;
  margin-top: 200px;
  padding: 20px;
  border-radius: 10px;
}

.input-data {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  gap: 20px;
}

.item {
  display: flex;
  flex-direction: column;
}

input {
  border: 2px solid black;
  border-radius: 5px;
  height: 3em;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.btn {
  width: 80px;
  height: 3em;
  border-radius: 5px;
  border: 2px solid black;
  margin-top: 28px;
}

.btn:hover {
  border: none;
  outline: 1px solid rgb(183, 172, 172);
}

.title-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding: 10px;
}

.result {
  border: 2px solid black;
  border-radius: 10px;
  min-height: 40px;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 10px;
}

.edit-buttons {
  display: flex;
  gap: 4px;
}
.pencil {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #fff;
}

.pencil:hover, .cross:hover{
  outline: 1px solid rgb(183, 172, 172);
  border-radius: 4px;
}

img {
  width: 100%;
  object-position: 0 4px;
}

.cross {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #fff;
  border: none;
  font-size: 16px;
}
